@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root {
    --primary-color: #2a2e38;
    --body-background-color: #cfdbe9;
    --accent-color: #3b362a;
    --window-background-color: #fff5f5;
    --window-header-color: #fbc4c0;
    --title-header-color: #fbe6e1;
    --quit-button-color: #ff5f57;
    --minimize-button-color: #ffbd2e;
    --popup-background-color: #eff3fe;
    --popup-header-color: #cadaf1;
    --button-background-color: #fffffd;
    --font-color: #2a2e38;
    --main-background-color: #fef6f4;
    --popup-header-color: #cadaf1;
    --popup-content-color: #eff3fe;
}

* {
    border-color: var(--accent-color);
    font: var(--font-color);
}

body {
    font-family: 'Press Start 2P', cursive;
    color: #2a2e38;
    padding: 0;
    background-color: var(--body-background-color);
    /* display: flex; */
    display: flex;
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    /* Centers vertically */
    height: 100vh;
    /* Full viewport height */
    margin: 0;
    /* Remove default margin */
    /* Squares grid background */
    background-image:
        linear-gradient(to right, rgba(228, 240, 252, 255) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(228, 240, 252, 255) 1px, transparent 1px);
    background-size: 32px 32px;
    /* Adjust the size of the squares */
}

.window {
    background-color: var(--window-background-color);
    border-radius: 8px;
    border: 3px solid var(--accent-color);
    width: 400px;
    height: 600px;
    /* align-self: center; */
    overflow: hidden;
    position: relative;
    font-size: 12px;
    /* box-shadow: #3b362a 2px 2px; */
}

.window-header {
    background-color: var(--window-header-color);
    padding: 8px 16px 8px 16px;
    border-bottom: 3px solid var(--accent-color);
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: space-around;
    /* -webkit-app-region: drag; */
}

.window-header-buttons {
    display: flex;
    gap: 6px;
}

.window-button {
    width: 16px;
    height: 16px;
    /* border: 2px solid rgba(0, 0, 0, 0.1); */
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    cursor: pointer;
}

.window-button:nth-child(1) {
    background-color: var(--quit-button-color);
}

.window-button:nth-child(2) {
    background-color: var(--minimize-button-color);
}

.window-title {
    text-align: end;
    font-size: 16px;
}

header {
    background-color: var(--title-header-color);
    padding: 8px;
    text-align: center;
    border-bottom: 3px solid var(--accent-color);
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* Full height */
    /* display: block; */
    padding: 1.5rem;
    background-color: var(--main-background-color);
    margin-bottom: 1rem;
}

main .top,
.middle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* 2 equal columns */
    align-items: center;
    /* Center content vertically */
    justify-items: center;
    /* Center content horizontally */
    gap: 8px;
    /* Vertical gap inside each column */
    padding: 0px 32px 8px 32px;
    /* border-bottom: 2px solid #3b362a; */
}

.top>div,
.middle>div {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    /* border: 2px solid #3b362a; */
    gap: 8px;
    /* 8px gap between items in each column */
}

main .bottom {
    background-color: var(--button-background-color);
    height: auto;
    border: 3px solid var(--accent-color);
    border-radius: 16px;
    margin-top: 8px;
    margin-bottom: 32px;
    padding: 8px 16px 16px 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bottom>img {
    width: 100%;
    height: 220px;
    border-radius: 16px;
    border: 2px solid var(--accent-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.circle {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: var(--title-header-color);
    border: 2px solid #3b362a;
    background-image: url('Assets/Images/cat.png');
    background-size: 75%;
    /* Ensures the image covers the entire div without distortion */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
}

button {
    background-color: var(--button-background-color);
    color: #3b362a;
    border: 2px solid var(--accent-color);
    border-radius: 8px;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    font-family: inherit;
    font-size: 12px;
    width: 100%;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

button:active {
    transform: scale(0.95);
    /* Slightly shrink button when clicked */
    box-shadow: inset 1px 1px 1px 1px var(--accent-color);
    /* Inner shadow for pressed effect */
}

button:disabled {
    color: var(--accent-color);
    cursor: not-allowed;
    /* Show 'not-allowed' cursor */
    opacity: 0.6;
    /* Make it slightly transparent */
    pointer-events: none;
    /* Prevent clicks */
}

section img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    border: 3px solid var(--accent-color);
    background-size: cover;
    background-position: center;
}

h2 {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.window-popup {
    background-color: var(--popup-content-color);
    border-radius: 8px;
    border: 3px solid var(--accent-color);
    width: 220px;
    height: auto;
    /* align-self: center; */
    overflow: hidden;
    position: fixed;
    /* bottom: 220px; */
    /* left: 50px; */
    font-size: 12px;
    box-shadow: #3b362a 2px 2px;
    display: none;
    transform: scale(0.8);
    opacity: 0;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    /* Smooth animation */
}

.window-popup.show {
    display: block;
    opacity: 1;
    transform: scale(1);
    /* Grows to full size */
}

.window-popup-header {
    background-color: var(--popup-header-color);
    padding: 8px 16px 8px 16px;
    border-bottom: 3px solid var(--accent-color);
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: space-around;
    /* -webkit-app-region: drag; */
}

.window-popup-header-buttons {
    display: flex;
    gap: 6px;
}

.window-popup-button {
    width: 14px;
    height: 14px;
    /* border: 2px solid rgba(0, 0, 0, 0.1); */
    border: 2px solid var(--accent-color);
    /* border: 2px solid #3b362a; */
    border-radius: 50%;
    cursor: pointer;
}

.window-popup-button:nth-child(1) {
    background-color: var(--quit-button-color);
}

.window-popup-button:nth-child(2) {
    background-color: var(--minimize-button-color);
}

.window-popup-title {
    text-align: end;
    font-size: 16px;
}

.window-popup-content {
    padding: 16px;
    text-align: center;
}

.window-popup-content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.window-popup-content>img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    border: 3px solid var(--accent-color);
    background-color: var(--button-background-color);
    background-size: cover;
    background-position: center;
}